{{template "base/header" .}}

    <title>文章 - 小船的博客</title>
  </head> 
  <body> 
	  <div class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
  		{{template "base/navbar" .}}
  		</div>
	  <div class="container">
	  	<h1>文章列表</h1>
	  	{{if .IsLogin}}
	  	<a href="/topic/add" class="btn btn-default">添加文章</a>
	  	{{end}}
	  	<table class="table table-striped">
	  		<thead>
	  			<tr>
	  				<th>#</th>
	  				<th>文章名称</th>
	  				<th>最后更新</th>
	  				<th>浏览</th>
	  				<th>回复数</th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			{{range .Topics}}
	  			<tr>
	  				<th>{{.id}}</th>
	  				<th><a href="/topic/{{.id}}">{{.title}}</a></th>
	  				<th>{{.updated}}</th>
	  				<th>{{.views}}</th>	
	  				<th>{{.replycount}}</th>	
	  			</tr>  				
	  			{{end}}
	  		</tbody>
	  	</table>
	  </div>
	  </div>

	  <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body> 
</html>