{{template "base/header" .}}

    <title>{{.Topic.title}} - 小船的博客</title>
  </head> 
  <body> 
	  <div class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
  		{{template "base/navbar" .}}
  		</div>
	  <div class="container">
	  	
	  	<div class="page-header">
	  	    <br>
	  	   
	  		<h1>{{.Topic.title}}{{if .IsLogin}}<a href="/topic/modify?tid={{.Topic.id}}" class="btn btn-default">修改文章</a>{{end}}</h1>

	  		{{.Topic.content}}
	  			 
	  	</div>
	  </div>

	  <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body> 
</html>